<p  class="text-orange-500">sign-up works!</p>
<div class="flex flex-column bg-black-alpha-30">
    <div class="flex align-items-center justify-content-center h-4rem w-10 bg-primary font-bold border-round m-2 "> <p class="text-orange-500">ABCD </p> </div>
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2">How Are </div>
    <div class="flex align-items-center justify-content-center h-4rem bg-primary font-bold border-round m-2 text-orange-500">There</div>
</div>